.toolbar
    display: flex
    align-self: flex-end
    width: 100%
    background: transparentize($cor-bege-300, 0.6)
    backdrop-filter: blur(20px)
    border-radius: 20px
    padding: 25px
    margin-top: auto

    > section
        margin: 0 20px

.toolbar__list
    display: flex
    flex-direction: column